/src/vendor/
/src/public/vendor/
/logs/*
!/logs/README.md
/src/posts/*
!/src/posts/2018-09-28-README.md
/src/config/*
!/src/config/config.sample.php
/src/public/index.html
/src/templates_c/*
!/src/template_c/README.md
