{% extends "backOffice.html.twig" %}

{% block body %}
<body class="newpost">
    <div id="moreActions">
        <div class="close">X</div>
        <div id="moreActionsTabs">
            <div id="addPictureTab">
                Add a picture
            </div>
            <div id="addFileTab">
                Add a file
            </div>
        </div>
        <div id="moreActionsMain">
            <div id="addPictureMain">
                <h1>Add a picture</h1>
            </div>
            <div id="addFileMain">
                <h1>Add a file</h1>
            </div>
        </div>
    </div>
    <form method="post">
        <div id="newPostFormContainer">
            <div id="flashMsg">
            {% for status,msgs in messages %}
                {% for message in msgs %}
                <div class="flashmsg {{ status }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            </div>
            <textarea tabindex="1" id="content" name="content" placeholder="{% include 'mdhelp.txt' %}">{% if textAreaContent %}{{ textAreaContent }}{% endif %}</textarea>
            <div id="newPostButtons">
                <input type="button" id="more" value="+" tabindex="3"><input tabindex="2" type="submit">
            </div>
        </div>
    </form>
    <script>
        $(function(){
           $('#more').click(function(){
               $('#moreActions').fadeToggle();
           });
           $('.close').click(function(){
               $('#moreActions').fadeToggle();
           });
           $('#moreActionsTabs > div').click(function() {
               $('#moreActionsTabs > div').removeClass('activ');
               $(this).addClass('activ');
               $('#moreActionsMain > div').hide();
               $('#'+$(this).attr('id').replace('Tab','Main')).fadeToggle();
           });
           $('.flashmsg.Success').fadeOut(2000);
           var content = $('#content').val();
           $('#content').val('');
           $('#content').focus();
           $('#content').val(content);
        });
    </script>
</body>
{% endblock %}
