{% extends "backOffice.html.twig" %}

{% block body %}
    <form method="post">
        <div id="newPostFormContainer">
            <div id="flashMsg">
            {% for status,msgs in messages %}
                {% for message in msgs %}
                <div class="flashmsg {{ status }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            </div>
                <textarea name="content" placeholder="{% include 'mdhelp.txt' %}" cols="60" rows="25">{% if post.content %}{{ post.content }}{% endif %}</textarea>
                <br>
                <input type="submit">
        </div>
    </form>
{% endblock %}