{% extends "backOffice.html.twig" %}

{% block body %}
<body class="newpost">
    <form method="post">
        <div id="newPostFormContainer">
            <div id="flashMsg">
            {% for status,msgs in messages %}
                {% for message in msgs %}
                <div class="flashmsg {{ status }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            </div>
            <textarea name="content" placeholder="{% include 'mdhelp.txt' %}">{% if textAreaContent %}{{ textAreaContent }}{% endif %}</textarea>
            <input type="submit">
        </div>
    </form>
</body>
{% endblock %}