{% extends "backOffice.html.twig" %}

{% block body %}
<body class="newpost">
    <div id="moreActions"><div class="close">X</div></div>
    <form method="post">
        <div id="newPostFormContainer">
            <div id="flashMsg">
            {% for status,msgs in messages %}
                {% for message in msgs %}
                <div class="flashmsg {{ status }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            </div>
            <textarea name="content" placeholder="{% include 'mdhelp.txt' %}">{% if textAreaContent %}{{ textAreaContent }}{% endif %}</textarea>
            <div id="newPostButtons">
                <input type="button" id="more" value="+"><input type="submit">
            </div>
        </div>
    </form>
    <script>
        $(function(){
           $('#more').click(function(){
               $('#moreActions').fadeToggle();
           });
           $('.close').click(function(){
               $('#moreActions').fadeToggle();
           });
        });
    </script>
</body>
{% endblock %}