<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
        <title>{% if post.yaml.title %}{{ post.yaml.title }} - {% endif %}{{ frontConfig['site']['title'] }}</title>
        {% block header %}{% endblock %}
    </head>
{% block body %}{% endblock %}
        {% block footer %}{% endblock %}
</html>
