<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ frontConfig['site']['title'] }} {% if post.yaml.title %} - {{ post.yaml.title }} {% endif %}</title>
        {% block header %}{% endblock %}
    </head>
    <body class="notframed">
{% block body %}{% endblock %}
    </body>
</html>
