/* Front part */
body {
    max-width: 35em;
    padding: 0;
    margin:0 auto;
    font-family: serif;
    text-align: justify;
}
h1 {
    letter-spacing: -3px;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
    text-align: center;
}

h1,h2 {
    color: #719e40;
    font-family: sans-serif;                
}
.time {
    color: gray;
    float: right;
    margin-left: 1em;
    font-style: italic;
}
.day {
    font-size: 120%;
    border-bottom: solid 1px silver;
    font-style: italic;
    margin-top: 1em;
    color: darkgrey;
    padding-left: .5em;
}
.month {
    margin: 1em 0;
    font-size: 130%;
    text-transform: uppercase;
    border-bottom: double;
    padding-left: 1em;
}
.year {
    font-size: 190%;
    text-align: center;
    background: lightgreen;
    padding: .2em 0 0.05em;
    color: gray;
    font-weight: bold;
    border: solid 1px darkgreen;
    width: 100%;
    border-left: 0;
    border-right: 0;
}
article * {
    overflow: hidden;
    text-overflow: ellipsis;
}
article pre {
    overflow: auto;
    text-overflow: initial;
}
img {
    max-width:100%
}

/* Admin part */
.flashmsg {
    width: 100%;
    margin: .5em 0;
    padding: 1em;
    border: solid 1px blue;
    background: lightblue;
    color: blue;
    box-sizing: border-box;
}
.flasmsg.Error {
    border-color: red;
    color: red;
    background-color: pink;
}
.flasmsg.Warning {
    border-color: orangered;
    color: orangered;
    background-color: lightsalmon;
}
.flashmsg.Success {
    border-color: green;
    color: green;
    background-color: lightgreen;
}

#newPostFormContainer {
    display:flex;
    flex-direction:column;
    height:100vh;
}
textarea {
    width: 100%;
    max-width: 35em;
    font-size: 15.84px;
    font-family: serif;
}
#newPostFormContainer textarea {
    flex-grow: 100;
}