body{
    background:rgb(252,252,240);
}
/* Front part */
body.notframed {
    max-width: 35em;
    padding: 0;
    margin:0 auto;
    font-family: serif;
    text-align: justify;
}
nav {
    display:flex;
    justify-content: space-between;
    position:sticky;
    top:92vh;
    bottom:2vh;
    background: rgba(252,252,240,.8);
}
nav a {
    text-decoration:none;
}
@media screen and (max-width: 640px) {
    body {
        font-size:6vw;
    }
}
h1 {
    letter-spacing: -3px;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    color: #719e40;
    font-family: sans-serif;
    text-align: left;
}
h2 {
    margin-bottom: 0;
    display:inline;
}
.time {
    color: gray;
    float: right;
    margin-left: 1em;
    font-style: italic;
}
.day {
    font-size: 120%;
    border-bottom: solid 1px silver;
    font-style: italic;
    margin-top: 1em;
    color: darkgrey;
    padding-left: .5em;
}
.month,.firstLines {
    margin: 1em 0;
    font-size: 130%;
    border-bottom: double;
    padding-left: 1em;
}
.month {
    text-transform: uppercase;
}
.year {
    font-size: 190%;
    text-align: center;
    background: lightgreen;
    padding: .2em 0 0.05em;
    color: gray;
    font-weight: bold;
    border: solid 1px darkgreen;
    width: 100%;
    border-left: 0;
    border-right: 0;
}
article * {
    overflow: hidden;
    text-overflow: ellipsis;
}
article pre {
    overflow: auto;
    text-overflow: initial;
}
img {
    max-width:100%
}

blockquote {
    border-left: solid silver 0.8em;
    padding: .5em;
    background: rgba(0,0,0,0.05);
}

.tag {
    float: right;
    margin: .5em .25em 0;
    border: solid 1px grey;
    border-radius: 1em;
    padding: 0.1em .5em;
    color: grey;
    font-style: italic;
    font-size: 80%;
    cursor: pointer;
}

.toptools {
    position: sticky;
    top: 0;
}
.tools {
    float: right;
    margin-left:.5em;
    display:inline-block;
}
.tool, .guestTool {
    float:right;
    background: rgba(252,252,240,.8);
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
}
.tool {
    display:none;
}

.tool a, .guestTool a {
    text-decoration: none;
}
.content {
    width: 100%;
    padding-bottom: 3em;
}

/* Admin part */
body.framed {
    overflow: hidden;
    margin:0;
    padding:0;
}
body.framed iframe {
    width:100vw;
    height:100vh;
}
.flashmsg {
    width: 100%;
    margin: .5em 0;
    padding: 1em;
    border: solid 1px blue;
    background: lightblue;
    color: blue;
    box-sizing: border-box;
}
.flasmsg.Error {
    border-color: red;
    color: red;
    background-color: pink;
}
.flasmsg.Warning {
    border-color: orangered;
    color: orangered;
    background-color: lightsalmon;
}
.flashmsg.Success {
    border-color: green;
    color: green;
    background-color: lightgreen;
}

#newPostFormContainer {
    display:flex;
    flex-direction:column;
    height:100vh;
}
textarea {
    width: 100%;
    max-width: 35em;
    font-size: 15.84px;
    font-family: serif;
}
#newPostFormContainer textarea {
    flex-grow: 100;
}

input[type="submit"] {
    height: 3em;
    font-size: 200%;
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-twilight&languages=markup+css+clike+javascript+c+csharp+bash+batch+cpp+ruby+diff+docker+markup-templating+git+go+less+http+ini+java+json+latex+markdown+liquid+makefile+nginx+perl+php+php-extras+sql+powershell+prolog+scss+python+sass+smarty+yaml+twig+wasm&plugins=line-numbers+autolinker+keep-markup */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"],
pre[class*="language-"] {
	color: white;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	text-shadow: 0 -.1em .2em black;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: hsl(0, 0%, 8%); /* #141414 */
}

/* Code blocks */
pre[class*="language-"] {
	border-radius: .5em;
	border: .3em solid hsl(0, 0%, 33%); /* #282A2B */
	box-shadow: 1px 1px .5em black inset;
	margin: .5em 0;
	overflow: auto;
	padding: 1em;
}

pre[class*="language-"]::-moz-selection {
	/* Firefox */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

pre[class*="language-"]::selection {
	/* Safari */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	border: .13em solid hsl(0, 0%, 33%); /* #545454 */
	box-shadow: 1px 1px .3em -.1em black inset;
	padding: .15em .2em .05em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(0, 0%, 47%); /* #777777 */
}

.token.punctuation {
	opacity: .7;
}

.namespace {
	opacity: .7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
	color: hsl(14, 58%, 55%); /* #CF6A4C */
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
	color: hsl(53, 89%, 79%); /* #F9EE98 */
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
	color: hsl(76, 21%, 52%); /* #8F9D6A */
}

.token.atrule {
	color: hsl(218, 22%, 55%); /* #7587A6 */
}

.token.regex,
.token.important {
	color: hsl(42, 75%, 65%); /* #E9C062 */
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[data-line] {
	padding: 1em 0 1em 3em;
	position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
	color: hsl(33, 33%, 52%); /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
	position: relative;
	z-index: 1;
}

.line-highlight {
	background: hsla(0, 0%, 33%, 0.25); /* #545454 */
	background: linear-gradient(to right, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
	border-bottom: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	border-top: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	left: 0;
	line-height: inherit;
	margin-top: 0.75em; /* Same as .prism’s padding-top */
	padding: inherit 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	white-space: pre;
	z-index: 0;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	background-color: hsl(215, 15%, 59%); /* #8794A6 */
	border-radius: 999px;
	box-shadow: 0 1px white;
	color: hsl(24, 20%, 95%); /* #F5F2F0 */
	content: attr(data-start);
	font: bold 65%/1.5 sans-serif;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: .4em;
	vertical-align: .3em;
}

.line-highlight[data-end]:after {
	bottom: .4em;
	content: attr(data-end);
	top: auto;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

.token a {
	color: inherit;
}
